body {
background: linear-gradient(90deg, rgba(57, 242, 29, 1) 0%, rgba(12, 166, 91, 1) 35%, rgba(74, 171, 10, 1) 100%);
}
.cabecalho-img{
    width: 100%;}

.usuariosino{
    display: flex;

    justify-content: space-between;
    padding: 20px;
}

.bloco{
    background-color:#537D5D;
height:100%;}

.pesquisaloc{    display: grid;
    padding: 20px;
}

.inicio{
   background-image: url("./img/textura-de-folha-verde-fundo-de-textura-de-folha.jpg");
   background-size: contain;
   height: 200px;
}

.anuncios{background-color:#D2D0A0;
height: 100%;}

.pesquisa{display: flex;
width: 300%;}

.lupa{width:100%;}

.text1{
    height: 30px;
width:30%;}

.text2{height: 30px;
width:30%;}

.bloco1{background-color: #7d6253;}





