body {
background: linear-gradient(90deg, rgba(57, 242, 29, 1) 0%, rgba(12, 166, 91, 1) 35%, rgba(74, 171, 10, 1) 100%);
}
.cabecalho-img{
    width: 100%;}

.usuariosino{
    display: flex;

    justify-content: space-between;
    padding: 20px;
}

.bloco{
    background-color:#3eb65a;
}

.pesquisaloc{    display: grid;
    padding: 20px;
}

.inicio{
   background-image: url("./img/textura-de-folha-verde-fundo-de-textura-de-folha.jpg");
   background-size: contain;
   height: 200px;
}

.anuncios{background-color:#D2D0A0;}

.pesquisa{display: flex;
width: 100%;}