body {
background: linear-gradient(90deg, rgba(57, 242, 29, 1) 0%, rgba(12, 166, 91, 1) 35%, rgba(74, 171, 10, 1) 100%);
}
.cabecalho-img{
    width: 100%;}

.usuariosino{
    display: flex;

    justify-content: space-between;
    padding: 20px;
}

.bloco{
    background-color:#537D5D;
height:100%;
margin-top: 70px;
}

.pesquisaloc{    display: grid;
    padding: 20px;
}

.inicio{
   background-image: url("./img/textura-de-folha-verde-fundo-de-textura-de-folha.jpg");
   background-size: contain;
   height: 200px;
}

.anuncios{background-color:#D2D0A0;
height: 700%;
display: flex;
    flex-wrap: wrap;
    padding: 60px;
    justify-content: center;}

.pesquisa{display: flex;
width: 300%;}

.lupa{width:100%;}

.text1{
    height: 30px;
width:30%;}

.text2{height: 30px;
width:30%;}

.bloco1{background-color: #D9D9D9;
    height: 500px;
    width: 450px;
margin: 30px;}

.bloco2{background-color: #D9D9D9;
    height: 500px;
    width: 450px;
margin: 30px;}
    
.bloco3{background-color: #D9D9D9;
    height: 500px;
    width: 450px;
margin: 30px;}
    
.bloco4{background-color: #D9D9D9;
    height: 500px;
    width: 450px;
margin: 30px;}

.chats{background-color:#537D5D;
    height:200px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}

.coment{height: 30%;}
.linhas{height: 30%;}
.casa{height: 30%;}
.config{height: 30%;}

.text3{width: 70%;
    margin-left:20px;
background-color:#FFFCFB;}

.perfil{background-color:#537D5D;
margin-top: 70px;
}


.blocochat{
    height: 2300px;
    background-color: #D2D0A0;
}

.usuario{margin: 30px;}

.chat1{margin: 50px;}

.chat2{margin: 50px;}

.chat3{margin: 50px;}